.title {
    background-color: #4E3883;
    border: 1px solid #322d5c;
    color: white;
    padding: 0.5vh;
}
.cell:hover {background-color: #c9a79a;;}
table {
    border-collapse: collapse;
    padding: 0;
    /*background-color: #FFDDCC;*/
    color: black;
}
.cell {
    width: 15%;
    display: table-cell;
    vertical-align: center;
    text-align: center;
    padding: 0.5vh;
    border: 1px solid #2a1b3d;
    background-color: #fff3e3;
}

table td {
    width: 15%;
    display: table-cell;
    vertical-align: center;
    text-align: center;
    padding: 0.5vh;
}

.middle {
    background-color: #FFDDCC;
}